<%= form_for(@card, url: {action: action}) do |f| %>
  <% if @card.errors.any? %>
    <% @card.errors.full_messages.each do |error| %>
      <%= alert_generator error %> 
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.text_area :question, rows: 15, class: "form-control", placeholder: "Question", maxlength: "220" %>
  </div>

  <div class="form-group">
    <%= f.text_area :answer, rows: 15, class: "form-control", placeholder: "Answer", maxlength: "220" %>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: "btn-block btn-primary" %>
  </div>

<% end %>