<h1><%= @deck.name %></h1>

<% @deck.cards.each do |card| %>
  <div>
    <%= card.question %>
  </div>
  <div>
    <%= card.answer %>
  </div>
  <div>
    <%= link_to "Edit Card", edit_category_deck_card_path(@category.id, @deck.id, card) %>
    <%= link_to "Delete Card", category_deck_card_path(@category.id, @deck.id, card), method: :delete, data: { confirm: "Are you sure you want to delete this card?" } %>
  </div>
  <hr>
  <hr>
<% end %>

<div>
  <%= link_to "Add New Card", new_category_deck_card_path %>
</div>