<div class="container">
  <h1><%= @deck.name %></h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Categories", categories_path%>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @category.name, category_decks_path(@category.id) %>
    </li>
    <li class="breadcrumb-item active">
      <%= @deck.name %>
    </li>
  </ol>

<% @deck.cards.each do |card| %>
  <div class="card categories">
    <div class="card-block text-center">
      <div>
        <%= card.question %>
      </div>
      <hr>
      <div class="angle-down">
        <span class="fa fa-angle-down"></span> 
      </div>
      <div class="hidden card-answer">
        <hr>
        <%= card.answer %>
      </div>
      <hr>
      <div>
        <%= link_to "Edit Card", edit_category_deck_card_path(@category.id, @deck.id, card) %>
        <%= link_to "Delete Card", category_deck_card_path(@category.id, @deck.id, card), method: :delete, data: { confirm: "Are you sure you want to delete this card?" } %>
      </div>  
    </div>
  </div>
    <% end %>    
    

    <div>
      <%= link_to "Add New Card", new_category_deck_card_path %>
    </div>  

</div>


