<div class="container">
  <h1><%= @deck.name %></h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Categories", categories_path%>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @category.name, category_decks_path(@category.id) %>
    </li>
    <li class="breadcrumb-item active">
      <%= @deck.name %>
    </li>
  </ol>

  <% @deck.cards.each do |card|%>
    <div class="card categories text-center">
      <div class="card-block">
        <%= card.question.slice(0,20) %>...
      </div>
      <%= link_to "View Card", category_deck_card_path(@category.id, @deck.id, card) %>  
    </div>
  <% end %>

  <div>
    <%= link_to "Add New Card", new_category_deck_card_path %>
  </div>
</div>  
