<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      Categories
    </li>
  </ol>
  <div class="text-center">
    <h1>Categories</h1>
    <h2>
      <%= link_to fa_icon('plus-circle'), new_category_path %>
    </h2>
  </div>

  <hr>

  <% @user_categories.each do |category| %>
    <div class="category-setup text-center">
      <%= link_to(category_decks_path(category)) do %>
        <p class="card categories text-center">
          <%= category.name %><br>
        </p> 
      <% end %>
      <div class="text-center">
        <%= link_to fa_icon('edit'), edit_category_path(category), class: "btn-sm btn-info" %>
        <%= link_to fa_icon('trash'), category_path(category), method: :delete, data: { confirm: "Are you sure you want to delete this category? If you do, all of it's decks and cards will also be deleted." }, class: "btn-sm btn-danger" %>
      </div>
    </div>
  <% end %>
</div>