<%= form_for(@deck, url: {action: action}) do |f| %>
  <% if @deck.errors.any? %>
    <% @deck.errors.full_messages.each do |error| %>
      <%= alert_generator error %> 
    <% end %>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>