<h1>Decks for your <%= @category.name %> Category </h1>

<% @category.decks.each do |deck| %>
  <div>
    <%= link_to deck.name, category_deck_cards_path(@category.id, deck) %>
  </div>
  <div>
    <%= link_to "Edit Deck", edit_category_deck_path(@category.id, deck) %>
    <%= link_to "Delete Deck", category_deck_path(@category.id, deck), method: :delete, data: { confirm: "Are you sure you want to delete this deck? If you do, all of it's cards will also be deleted." } %>
  </div>
<% end %>

<%= link_to "Add Deck", new_category_deck_path %>

