<h1>Decks</h1>
<% @decks.each do |deck| %>
  <div>
    <%= deck.name %> | 
    <%= link_to "View", deck %>
    <%= link_to "Edit Deck", edit_deck_path(deck) %> | 
    <%= link_to "Delete", deck, method: :delete, data: {confirm: "Are you sure you want to delete this Deck?"} %>
  </div>
<% end %>

<div>
  <%= link_to "Create New Deck", new_deck_path %>
</div>